<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Preferences</title>
    <link rel="stylesheet" href="../css/preferences.css">
  </head>
  <body>
    <span id="validation-message"></span>
    <form id="preferences-form">
      <div class="form-row">
        <label for="aws-access-key-id">Access Key ID:</label>
        <input id="aws-access-key-id" name="aws-access-key-id" type="text">
      </div>
      <div class="form-row">
        <label for="aws-secret-access-key">Secret Access Key:</label>
        <input id="aws-secret-access-key" name="aws-secret-access-key" type="text">
      </div>
      <div class="form-row">
          <label for="aws-region">Region:</label>
          <input id="aws-region" name="aws-region" type="text">
        </div>
      <div class="form-row">
        <label for="s3-bucket-name">Bucket Name:</label>
        <input id="s3-bucket-name" name="s3-bucket-name" type="text">
      </div>
      <div class="form-row">
        <label for="s3-domain-name">Domain Name:</label>
        <input id="s3-domain-name" name="s3-domain-name" type="text">
      </div>
      <div class="form-row">
        <label for="s3-custom-domain-name">Custom Domain Name:</label>
        <input id="s3-custom-domain-name" name="s3-custom-domain-name" type="text">
      </div>
      <div class="form-row">
        <label for="s3-init-folder-name">Initial Folder:</label>
        <input id="s3-init-folder-name" name="s3-init-folder-name" type="text">
      </div>
      <input type="submit" value="Save Changes">
      <a id="close" href="">Close</a>
    </form>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>require('../js/preferences.js')</script>
  </body>
</html>